
.screen-header {
  padding: var(--horizontal-space);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  margin-top: 10px;
}
.screen-header__title {
  font-size: 32px;
  font-weight: 600;
}

.screen-header__icons span {
  margin-left: 25px;
}
.i-dot {
  background-color: tomato;
  display: flex;
  width: 5px;
  height: 5px;
  border-radius: 2.5px;
  position: absolute;
  right: 10px;
  top: 35px;
  justify-content: center;
  align-items: center;
}
 {
 
